
/*-----------------------------------------------
|   Multi selector manipulation
\------------------------------------------------*/
#container .center, .screen, .icon, .button, .onscreen, .text {
	position: absolute;
	/* border: 1px solid purple; */
}

#container .center, .icon, .button, .text {
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

#container .screen {
	width: 230pt;
	height: 230pt;
	background-size: 230pt 230pt;
	border-radius: 50%;
}

#container .background {
	opacity: 0.95;
	pointer-events: none;
}

#container .button {
	z-index: 1;
}

#container .icon {
	pointer-events: none;
}

#container .text {
	color: white;
	font-family: 'Ubuntu', sans-serif;
	text-shadow:
		-1px -1px 0 black,
		 1px -1px 0 black,
		-1px  1px 0 black,
		 1px  1px 0 black;
	text-align: center;
}

/*-----------------------------------------------
|   Watch Body
\------------------------------------------------*/
#watchBody {
	width: 248pt;
	height: auto;
	z-index: 1;
	pointer-events: none;
}

/*-----------------------------------------------
|   Button Masks
\------------------------------------------------*/
#toggleOff, #toggleOn {
	top: 26%;
	left: 7%;
	width: 45pt;
}

#unlock {
	top: 25%;
	left: 92%;
	width: 35pt;
}

#back {
	top: 75%;
	left: 92%;
	width: 35pt;
}

/*-----------------------------------------------
|   Lock screen
\------------------------------------------------*/
#lockScreen {
	background-color: black;
}

/*-----------------------------------------------
|   Welcome screen (start screen)
\------------------------------------------------*/
#clock {
	top: 49%;
}

#time{
	font-size: 55pt;
	font-weight: bold;
}

#date{
	font-size: 21pt;
}

/*-----------------------------------------------
|   Main menu
\------------------------------------------------*/
#findPeople {
	left: 30%;
	width: 60pt;
}

#findPlaces {
	left: 70%;
	width: 58pt;
}

#menuClock {
	top: 13%;
	font-size: 24pt;
}

#mainMenu .orb {
	background-color: white;
	width: 4.5pt;
	height: 4.5pt;
	border-radius: 50%;
	top: 90%;
	z-index: 0;
}

/*-----------------------------------------------
|   Emergency screen
\------------------------------------------------*/
#callHelp {
	top: 60%;
	left: 30%;
	width: 65pt;
}

#cancelHelp {
	top: 60%;
	left: 70%;
	width: 65pt;
}

#emergencyTitle {
	top: 35%;
	font-size: 24pt;
	font-weight: bold;
}

/*-----------------------------------------------
|   Help Declined screen
\------------------------------------------------*/
#instruction {
	width: 150pt;
}

/*-----------------------------------------------
|   Help Accepted screen
\------------------------------------------------*/
#helpComingText {
	top: 30%;
	font-size: 18pt;
}

#helpTimer {
	font-size: 28pt;
	font-weight: bold;
}

/*-----------------------------------------------
|   Foreground emergency timer
\------------------------------------------------*/
#foregroundTimer {
	border-radius: 50%;
	width: 70pt;
	height: 35pt;
	top: 93%;
	background-color: darkred;
	border: 1px solid rgb(194, 194, 194);
}

#foregroundTimeleft {
	top: 34%;
	font-size: 15pt;
}

/*-----------------------------------------------
|   Find Places menu
\------------------------------------------------*/
#container .onscreen {
	width: 80pt;
}

#topLeftButton_page1, #topLeftButton_page2 {
	top: 15.5%;
	left: 11%;
}

#topRightButton_page1, #topRightButton_page2 {
	top: 15.5%;
	left: 54%;
	transform: rotateY(180deg);
}

#bottomLeftButton_page1, #bottomLeftButton_page2 {
	top: 54.5%;
	left: 11%;
	transform: rotateX(180deg);
}

#bottomRightButton_page1 {
	top: 54.5%;
	left: 54%;
	transform: rotate(180deg);
}

#wcIcon {
	top: 35%;
	left: 32%;
	width: 54pt;
}

#foodIcon {
	top: 33%;
	left: 70%;
	width: 33pt;
}

#drinkIcon, #exitIcon {
	top: 67%;
	left: 32%;
	width: 33pt;
}

#campingIcon {
	top: 66%;
	left: 68%;
	width: 47pt;
}

#chargingIcon {
	top: 32%;
	left: 35%;
	width: 35pt;
}

#infoIcon {
	top: 33%;
	left: 68%;
	width: 46pt;
}

#findPlacesMenu .orb {
	background-color: grey;
	width: 4pt;
	height: 4pt;
	border-radius: 50%;
	top: 90%;
	z-index: 0;
}

#orb1 {
	left: 48%;
}

#orb2 {
	left: 52%;
}

/*-----------------------------------------------
|   Directions Screen
\------------------------------------------------*/
#arrow {
	top: 25.5%;
	width: 40pt;
	transform-origin: 50% 300%;
	transform: translateX(-50%) translateY(-50%) rotate(0deg);
}

#distanceCircle {
	width: 80pt;
	height: 80pt;
	border: 1px solid lightgrey;
	border-radius: 50%;
	background-size: 80pt 80pt;
}

#distanceDisplay {
	width: 80pt;
	font-size: 28pt;
}

/*-----------------------------------------------
|   Cancel confirmation screen
\------------------------------------------------*/
#cancelConfirmText {
	top: 36%;
	font-size: 14pt;
}

/*-----------------------------------------------
|   Movement buttons
\------------------------------------------------*/
#movementButtons .button {
	border-radius: 50%;
	border: 1px solid black;
	background-color: purple;
	width: 40pt;
	height: 40pt;
	font-size: 28pt;
}

#goForward {
	top: -75%;
}

#goBackward {
	top: -45%;
}

#goLeft {
	top: -60%;
	left: 25%;
}

#goRight {
	top: -60%;
	left: 75%;
}

/*-----------------------------------------------
|   Find places list
\------------------------------------------------*/
#candidateList.text {
	width: 65%;
	height: 30%;
	top: 48%;
	text-align: center;
	font-size: 16pt;
}

#titleIcon {
	top: 20%;
}

#placeTitle {
	color: rgb(52, 174, 255);
}

#directionsPrompt {
	top: 75%;
	width: 100pt;
	border-radius: 40%;
}